@model MovieRentalMVCApplication.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table>
	<tr><td>Movie:</td><td>@Model.MovieName</td></tr>
	<tr><td>Movie:</td><td>@Model.DateReleased</td></tr>
	<tr><td>Movie:</td><td>@Model.DateAdded</td></tr>
	<tr><td>Movie:</td><td>@Model.Stock</td></tr>

</table>
