@model MovieRentalMVCApplication.Models.Movie

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>



<h2>Movie Detail</h2>
<p>@Model.MovieName</p>
<p>@Model.DateAdded</p>
<p>@Model.Genre.Name</p>
<p>@Model.DateReleased</p>